<!Doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>srtdash - ICO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Assets/css/metisMenu.css">
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Assets/css/typography.css">*@
    <link rel="stylesheet" href="~/Assets/css/default-css.css">
    <link rel="stylesheet" href="~/Assets/css/styles.css">
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <script src="~/Assets/js/vendor/jquery-2.2.4.min.js"></script>
</head>
<body>
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="@Url.Action("Index")" style="width:300px; color:#fff; font-size:26px; text-decoration:none;">MOD Rent</a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner overflow-hidden">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <a href="@Url.Action("Index","Home")" aria-expanded="true"><i class="fas fa-home"></i><span>ana sayfa</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="ti-layout-sidebar-left"></i><span>
                                        Kiralama
                                    </span>
                                </a>
                                <ul class="collapse">
                                    <li>@Html.ActionLink("Yeni Kiralama", "Index", "Rental")</li>
                                    <li>@Html.ActionLink("Mevcut Kiralamalar", "CurrentRentals", "Rental")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Customer")" aria-expanded="true"><i class="fas fa-user-tie"></i><span>Müşteri Listesi</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-car"></i><span>Araçlar</span></a>
                                <ul class="collapse">
                                    <li><a href="@Url.Action("Insert","Car")">Yeni Araç Ekle</a></li>
                                    <li><a href="@Url.Action("Index","Car")">Araç Listesi</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Ara..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    <span>2</span>
                                </i>
                                @Html.Action("Messages", "Rental")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- page title area end -->
            <div class="main-container">
                @RenderBody()
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <!-- bootstrap 4 js -->
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/metisMenu.min.js"></script>
    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="~/Assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/Assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="~/Assets/js/plugins.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
    <script src="~/Assets/js/myScripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
</body>
</html>
